body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom left, #030442, #5cb4f7);
    background-repeat: no-repeat;
}

.Morpion {
	height: 10vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	color: white;
	font-size: 25px;
	font-family: "Neo Fobia", sans-serif;
}

.back {
	background: url(../img/background.jpg);
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
	height: 80vh;
	border-radius: 50px;
}

.centre {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
	height: 80vh;
	border-radius: 50px;
}

.centre > table {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	min-width: 30vw;
	min-height: 20vh;
}

td {
	border-right: 5px solid #888888;
}

td:last-child{
	border-right: none;
}

tr {
	border-bottom: 5px solid #888888;
}

tr:last-child {
	border-bottom: none;
}

td {
	width: 20vh;
	height: 20vh;
}


td > button {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #88888830;
	border: none;
}

tr:first-child > td:first-child > button {
	border-top-left-radius: 3vh;
}

tr:first-child > td:last-child > button {
	border-top-right-radius: 3vh;
}

tr:last-child > td:first-child > button {
    border-bottom-left-radius: 3vh;
}

tr:last-child > td:last-child > button {
    border-bottom-right-radius: 3vh;
 }

img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
	width: 10vh;
	height: 10vh;
}

.div-span-tour {
	font-size: 25px;
	font-family: fantasy;
	margin: auto;
}

#div-timer {
	position: fixed;
	background-color: #a63008;
	border: 3px solid black;
	border-radius: 1vh;
	width: 15vw;
	height: 2vh;
	right: 20px;
	top: 20px;
	overflow: hidden;
  }
  
  #div-timer-bar {
	background-color: #5cb4f7;
	width: 100%;
	height: 100%;
	transition: width 1s;
  }
  
  .div-timer-tittle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }
  
  .button-popup {
	position: relative;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	width: 100vw;
  }
  
  .popuptext {
	position: absolute;
	top: 0;
	z-index: 1;
	visibility: hidden;
	width: 100vw;
	height: 100vh;
	padding-top: 5vh;
	background-color: rgb(0, 0, 0, 0.3);
	display: flex;
  }
  
  .show {
	visibility: visible;
	/* -webkit-animation: fadeIn 1s;
	animation: fadeIn 1s; */
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  .background-when-popup {
	background: #1f1f1f;
	opacity: 90%;
  }
  
  .label-popup {
	font-size: 45px;
	opacity: 100%;
  }
  
  .div-infos-popup {
	display: flex;
	flex-direction: column;
	width: 20vw;
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	padding-top: 5vh;
	border-radius: 35px;
	background-color: white;
	text-align: center;
	font-family: "Neo Fobia", sans-serif;
  }
  
  #label-resumer {
	font-size: 25px;
	margin-top: 12vh;
	margin-bottom: 5vh;
  }
  
  .button-restart {
	width: 10vw;
	height: 6vh;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
  }
  
  #label-score {
	font-size: 35px;
  }
  
  #text-score {
  }
  
  .label-infos-partie {
	margin-right: auto;
	margin-left: 1.5vw;
	margin-bottom: 5vh;
  }